<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s DVD's!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Workout Type</th>
                </tr>
                <tr data-th-each="dvd : ${dvds}">
                    <td data-th-text="${dvd.id}"></td>
                    <td data-th-text="${dvd.name}"></td>
                    <td data-th-text="${dvd.workoutType}"></td>
                </tr>
            </table>
        </div>
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>